.navbar {
  /* background-color: deeppink !important; */
  background: linear-gradient(to right, deeppink, dodgerblue) !important;
}


blockquote{
    /* height: 100px; */
    /* background-image: url('./assets/my\ bangaram.jpg'); */
    /* background-size: fill; */
    background: cover;
    /* opacity: 0.5; */
}
.btn:hover{
  color: white;
}
.btn{
  color: rgba(255, 200, 200, 1);
  background: deeppink;
}
  
.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: linear-gradient(to right, deeppink, indigo, dodgerblue);
  border-radius: 50%;
  overflow: hidden;
  animation: draw-border 1.5s ease-in-out forwards;
}

.avatar-container div{
    animation: none;
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  animation: none;
}

@keyframes draw-border {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@keyframes draw-border {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
.blockquote {
  border-left: 5px solid deeppink;
  /* border-color: linear-gradient(to bottom, deeppink, dodgerblue); */
  padding-left: 1.25rem;
  font-style: italic;
}
.blockquote-scroll {
  animation: scroll-left 3s linear;
}
@keyframes scroll-left {
  from {
    text-indent: 100%;
    opacity: 0;
  }
  to {
    text-indent: 0;
    opacity: 1;
  }
}
.post-number {
  font-weight: bold;
  position: absolute;
  top: -15px;
  right: 15px;
  margin-bottom: 10rem;
  /* font-weight: 100; */
  color: white;
  background: linear-gradient(to right, dodgerblue, deeppink);
  text-align: center;
}

.post-number {
  display: inline-block;
  background-color: deeppink;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 0.9rem;
  margin-right: 1rem;
}
/* 
.heading{
  background: linear-gradient(to right, deeppink, dodgerblue) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  font-weight: bold;
} */

.container-bg-gradient{
  background: linear-gradient(to right bottom, rgba(255, 20, 145, 0.1),rgba(30, 143, 255, 0.1));
}

h1,h2 {
  background: linear-gradient(90deg, dodgerblue, deeppink);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   /* font-weight: bold; */
}

.btn-outline-light:hover{
  color: deeppink;
}

/* 
  h1,h2 {
    background: linear-gradient(to right, deeppink, dodgerblue) !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: bold;
  } */
  

